.cmake
CMake
.ninja
.idea
.cmake
CMakeFiles
bin/
venv
build
cmake-build-debug
cmake-build-debug-wsl
build.ninja
.ninja_log
reports
reports_html
*CMakeCache.txt
*Makefile
*CMakeFiles*
CMakeFiles/*
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Testing/Temporary/LastTest.log