.cmake
CMake
.ninja
.idea
.cmake
CMakeFiles
bin/
venv
build
cmake-build-debug
cmake-build-debug-wsl
build.ninja
.ninja_log
reports
reports_html
compile_commands.json
*CMakeCache.txt
*Makefile
*CMakeFiles*
CMakeFiles/*
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake